BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_select[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_select[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_select[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_select[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_select[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_select[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_select[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_select[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rst_n" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_out[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_out[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_out[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_out[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_out[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_out[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_out[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_out[7]" IO_TYPE=LVCMOS33 ;
